.user-container::-webkit-scrollbar{
    width: thin;
}

.user-container::-webkit-scrollbar-track{
    color: #FE795B;
}

.user-container::-webkit-scrollbar-thumb{
    color: #FE795B;
}

.user-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 85px);
    margin:0;
    background: none;
}
.top-user-container{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-height: 6%;
    border-bottom: 3px solid white;
}

.bottom-user-container{
    width: 100%;
    height: 90%;
}

.SearchBarUser{
    position: absolute;
    top: 0;
    right: 5%;
}

.search-title{
    margin-top: 2.2%;
    margin-left: 3%;
}

.user{
    position: relative;
    float: left;
    margin-left:2.5%;
    margin-right:2.5%;
    width:40%;
    height: 150px;
    text-align: center;
    background-color: transparent;
    margin-top: 2%;
    cursor: pointer;
}

.img-user{
    position: absolute;
    min-width :20%;
    height: 100%;
    left: 0;
    border-radius: 100px;
}

.user-name{
    position: absolute;
    font-size: 24px;
    left:30%;
    top: 30%;
}