.user-container{
    position: fixed;
    margin: 50px;
    width: 80vw;
    height: 80vh;
    background: #8d86c9;
    box-shadow: -12px 12px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -12px 12px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -12px 12px 4px 0px rgba(0, 0, 0, 0.25);
}

.top-user-container{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
}

.bottom-user-container{
    width: 100%;
    height: 90%;
}

.SearchBarUser{
    position: absolute;
    top: 3%;
    left: 30%;
}

.search-title{
    margin-top: 2%;
    margin-left: 5%;
}

.user{
    position: relative;
    float: left;
    margin-left:2.5%;
    margin-right:2.5%;
    width:40%;
    height: 100px;
    text-align: center;
    background-color: white;
    margin-top: 2%;
    border: 1px solid black;
    box-shadow: -12px 12px 4px 0px rgba(0, 0, 0, 0.25);
}

.img-user{
    position: absolute;
    width :20%;
    height: 100%;
    left: 0;

}