.FinderContainer::-webkit-scrollbar{
    width: thin;
}

.FinderContainer::-webkit-scrollbar-track{
    color: #FE795B;
}

.FinderContainer::-webkit-scrollbar-thumb{
    color: #FE795B;
}

.FinderContainer {
    width: 100%;
    height: calc(100vh - 85px);
    background: none;
    
}

.searchbar-container{
    position: relative;
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
}

.nrf{
    position: absolute;
    top:50%;
    width: 40%;
    word-wrap: break-word;
    left: 30%;
    right: 30%;
    font-size: 50px;
}