.FindSeriesContainer{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 550px;
    width: 950px;
    overflow: auto;
}

.FindSeriesContainer::-webkit-scrollbar {
	width: 7px;
}

.FindSeriesContainer::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}