.preview-container{
    min-width: 386px;
    height: 155px;
    left: 42px;
    top: 1238px;

    background: #171717;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;

    float: left;
    margin-right: 53px;
}

.image-container{
    width: 170.95px;
    height: 155px;

    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    float: left;
}

.song-info{
    margin-left: 192px;
    margin-top: 18px;
}

.song-name{
    width: 136px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #FFFFFF;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.song-authors{
    width: 136px;
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    color: #FFFFFF;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.song-tier{
    font-style: normal;
    font-weight: 600;
    font-size: 110.265px;
    line-height: 90px;
    height: 84px;
    width: 180px;

    color: #FFFFFF;

    text-align: right;
    /* margin-left: 123px; */
}