@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.tops-container{
    background: none;
    width: 100vw;
    height: 91.8vh;
    overflow: auto;
}

.tops-container::-webkit-scrollbar {
	width: 7px;
}

.tops-container::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}

.movies{
    /* position: absolute;    
    left: 42px;
    top: 150px; */
    padding-top: 70px;
    padding-left: 42px;

    width: 405.54px;
    height: 97.07px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    margin-bottom: 285px;
}

.series{
    width: 405.54px;
    height: 97.07px;
    padding-left: 42px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    margin-bottom: 285px;
}

.movies-list{
    width: 95vw;
    max-height: 276px;
    display: flex;
    overflow-x:auto;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 40px;
}

/* .movies-list::-webkit-scrollbar {
    display: none;
  } */

.movies-list::-webkit-scrollbar {
	width: 7px;
    height: 7px;
}

.movies-list::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}

.songs-list{
    width: 95vw;
    max-height: 181px;
    height: 181px;
    display: flex;
    overflow-x:auto;
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: 40px;
}

.songs-list::-webkit-scrollbar {
	width: 7px;
    height: 7px;
}

.songs-list::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}