.login-screen{
    width: 100vw;
    height: calc(100vh - 80px);
}

.login-screen_bg-image{
    background-image: url(../../img/bg_image.png);
    filter: blur(1.5px) grayscale(50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.login-screen__form{
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #0E0E0E 0%, #393838 100%);
    padding: 50px;
    padding-top: 10px;
    border-radius: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-width: 560px;
    min-height: 400px;
}

.login-screen__form input:focus{
    outline: none;
}

.login-screen__title{
    font-size: 28px;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: block;
}

.error-message{
    color: red;
    font-size: 16px;
}

.success-message{
    color: red;
    font-size: 16px;
}

.form-text-input{
    display: block;
    margin: 1rem;
    margin-left: 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    padding: 15px;
    color: #FFFFFF;
}

.form-text-input::placeholder{
    color: #FFFFFF;
}

.form-btn{
    margin-top: 2rem;
    font-size: 18px;
    background: #FE795B;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px #FE795B80;
    border-style: none;
    align-self: center;
    width: 50%;
    max-width: 360px;
    transition: all .3s ease;
}

.form-btn:hover{
    background-color: #FE795B80;
    color: #F7ECE1;
    cursor: pointer;
}

.login-screen__subtext{
    margin-top: 1rem;
    font-size: 16px;
}

.login-screen__subtext a{
    text-decoration: none;
    transition: ease-in-out .2s all;
    font-weight: bold;
    color: #FFFFFF;
}

.login-screen__subtext a:hover{
    color: #FE795B;
}
