.register-screen{
    width: 100vw;
    height: calc(100vh - 80px);
}

.form-group{
    width: 60%;
}

.register-screen__form{
    width: 60vw;
    height: 65vh;
    position: fixed;
    display: flexbox;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8D86C9;
    padding: 50px;
    z-index: 1001;
    box-shadow: -6px 6px 4px 1px rgba(0,0,0,0.25);
    border-radius: 4px;
}

.register-screen__form input:focus{
    outline: none;
}

.register-screen__title{
    color: #242038;
    font-size: 32px;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
    text-align: center;
    margin-bottom: 3rem;
}

.register-screen__subtext{
    color: #242038;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
    font-size: 16px;
}

.register-screen__subtext a{
    text-decoration: none;
    transition: ease-in-out .2s all;
    font-weight: bold;
    color: #242038;
}

.register-screen__subtext a:hover{
    color: rgb(211, 151, 245);
}


.pic-group{
    position: absolute;
    right: 2rem;
    top: 12rem;
    display: flex;
    flex-direction: column;
}

.pic-group img{
    width: 18rem;
    height: 18rem;
}