.FindSongsContainer{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: 550px; */
    height: 86%;
    /* width: 950px; */
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #FE795B transparent
}



.FinderContainer::-webkit-scrollbar{
    width: thin;
}

.FinderContainer::-webkit-scrollbar-track{
    color: #FE795B;
}

.FinderContainer::-webkit-scrollbar-thumb{
    color: #FE795B;
}
