.list-preview{
    position:relative;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width: 14%;
    height: 18vh;
    max-width: 140px;
    border-radius: 18px;
    color: #FFFFFF;
}

.list-preview h4{
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: left;
    font-size: 16px;
}