.user-container::-webkit-scrollbar{
    width: thin;
}

.user-container::-webkit-scrollbar-track{
    color: #FE795B;
}

.user-container::-webkit-scrollbar-thumb{
    color: #FE795B;
}

.user-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 85px);
    margin:0;
    background: none;
}

.userMyFollows{
    position: relative;
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: initial;
    margin-top: 40px;
}



.title-myFollows{
    position: absolute;
    left: 5%;
    width:90%;
    min-height: 6%;
    border-bottom: 3px solid white;
}

.title-recommended{
    position: absolute;
    right: 2.5%;
    width: 45%;
    min-height: 6%;
    border-bottom: 3px solid white;
    text-align: right;
}

.myfollows-cont , .recommended-cont{
    position: relative;
    width: 90%;
    margin-top: 7%;
    height: 95vh;
    background-color: transparent;
    float: left;
    
    margin-left: 0.5%;
    margin-right: 0.4%;
}

.unfollow-btn{
    position: absolute;
    width: 7%;
    height:auto;
    bottom:2%;
    left: 50%;
    background-color: transparent;
    border:none;
    background-color: #FE795B;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px #FE795B80;
    z-index: 1;
    cursor: pointer;
}

.unfollow-button{
    width: 100%;
    height: 100%;
}

.user-name{
    margin-left: 10%;
    /* text-align: center; */
}