.img-cast{
    position: absolute;
    max-width: 30%;
    width: auto;
    height: 350px;
    left: 5%;
    top: 10%;
}

.cast-label{
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 32px;
}

.cast-cont{
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 50%;
    top: 50%;
}

.actor-name{
    color: white;
    font-weight: bold;
    text-decoration: underline;
    
}

.actor-cont{
    box-shadow: 0px 0px 20px 1px #FE795B80;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #FE795B;
    width:20%;
    height: 70px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
}

.actor-character{
    position: absolute;
    top: 20px;
    color:white;
}