.filter-container{
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 10px;
}

.type{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.selected{
    background-color: green;
}