.multimedia-cont{
    position: fixed;
    margin: 50px;
    width: 80vw;
    height: 80vh;
    background: #8d86c9;
    box-shadow: -12px 12px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -12px 12px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -12px 12px 4px 0px rgba(0, 0, 0, 0.25);
}

.progress-cont{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 10%;
    height:20%;
}

.progress-cont input, .progress-cont select, .progress-cont button{
    width: 100%;
    margin-top: 50px;
}

.data-container-top{
    width: 40%;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.data{
    margin-top:5px;
    font-size: 12px;
}

.label-data-type{
    display: inline-block;
    border-radius: 5px;
}

.title-top-data{
    background-color: transparent;
    margin-bottom: 5px;
}

.data-container-bottom{
    width:100%;
    height: 200px;
    position: absolute;
    bottom:  10px;
    left: 10px;
}

.bottom-title{
    text-align: center;
    font-weight: bold;
}

.image{
    position: absolute;
    left: 5%;
    right: 35%;
    top: 20%;
    bottom: 60%;
    height: 40% ;
    width: 30%;
    border: 2px 2px black;
}

.image img{
    width:80%;
    height:100%;   
}

.data-container-trailer{
    position: absolute;
    left: 36%;
    right: 98%;
    top: 25%;
    bottom: 55%;
    height: 30% ;
    width: 62%;
    border: 2px 2px black;
}



.add-content-btn{
    position: absolute;
    top: 5%;
    right: 5%;
}

.state-form{
    position: absolute;
    top: 10%;
    right: 5%;
}

.trailer{
    width: 80%;
    height: 100%;
}

.rating-container{
    position: absolute;
    right: 10%;
    top: 25%;
}

.comment-holder{
    position: absolute;
    bottom: -10%;
    left: 40%;
    width: 90%;
    height: 30%;
    overflow: hidden;
}