.PictureDiv{
    float: left;
    height: 130px;
    width: 130px;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.Picture{
    border-radius: 10px;
}

.CategoryName{
    color: black;
    font-weight: bold;
    width: 225px;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}