.FindSongsContainer{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: 550px; */
    height: 100%;
    /* width: 950px; */
    width: 100%;
    overflow: auto;
}

.FindSongsContainer::-webkit-scrollbar {
	width: 7px;
}

.FindSongsContainer::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}