.SearchBar::placeholder{
    background-image: url(./lupa.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 2px center;
    padding-left: 20px;
}

.SearchBar{
    position: absolute;
    right: 5%;
    top: 10%;
    border-radius: 20px;
    height: 30px;
    width: 20% !important;
    border: none;
    z-index: 1;
}

.SearchBar:focus{
    outline: white;
}