.comment-container{
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid white;
    background: transparent;
    width: 100%;
    height: 150px;
}

.comment-user{
    position: relative;
    top: 1%;
    left: 5%;
    font-size: 24px;
    font-weight: bold;
}

.comment-text{
    position: relative;
    top: 12%;
    left: 5%;
    font-size: 20px;
}

.comment-buttons{
    position: relative;
    margin-top: 30px;
    height: 50px;
    margin-left: 5%;
}

.comment-buttons button{
    box-shadow: 0px 0px 20px 1px #FE795B80;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #FE795B;
    cursor: pointer;
    margin-right: 20px;
    height: 50px;
    width: 10%;
    border-radius: 15px;
}